<div class="wrapper-flex">
  <header>
    <div></div>
    <div>
      <img src="/assets/img/logo.png" alt="">
    </div>
  </header>

  <main>

    <h1>INSCRIPTION</h1>

    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">

      <!-- ROLE -->
      <label for="consumer" class="label-radio">
        <input type="radio" value="consumer" formControlName="role" id="consumer" required>
        Consommateur
      </label>

      <label for="foodtruck" class="label-radio">
        <input type="radio" value="foodtruck" formControlName="role" id="foodtruck" required>
        Foodtruck
      </label>

      <div class="error" *ngIf="submitted && signUpForm.controls.role.errors">
        <label *ngIf="signUpForm.controls.role.errors.required">Ce champs est requis.</label>
      </div>

      <br>

      <!-- EMAIL -->
      <input type="text" placeholder="Email" formControlName="email" required>

      <div class="error" *ngIf="submitted && signUpForm.controls.email.errors">
        <label *ngIf="signUpForm.controls.email.errors.required">Ce champs est requis.</label>
        <label *ngIf="signUpForm.controls.email.errors.pattern">L'adresse email n'est pas valide.</label>
      </div>

      <br>

      <!-- PASSWORD -->
      <input type="password" placeholder="Mot de passe" formControlName="password" required>

      <div class="error" *ngIf="submitted && signUpForm.controls.password.errors">
        <label *ngIf="signUpForm.controls.password.errors.required">Ce champs est requis.</label>
        <label *ngIf="signUpForm.controls.password.errors.minlength">Le mot de passe doit contenir au minimum 4
          caractères.</label>
      </div>

      <br>

      <!-- SUBMIT -->
      <input type="submit" value="Je m'inscris">

    </form>

    <!-- Sucess message -->
    <div class="sucess" *ngIf="showSucessMessage">
      Save successfully
    </div>

    <!-- Error message -->
    <div class="alert" *ngIf="serverErrorMessages">
      {{serverErrorMessages}}
    </div>

  </main>

  <footer>
    <p>Déjà un compte ? <a routerLink="/login">Se connecter</a></p>
  </footer>
</div>
