<div class="wrapper-flex">
  <header>
    <div>
      <img src="/assets/img/logo.png" alt="">
    </div>
  </header>

  <main>

    <h1>CONNEXION</h1>

    <form [formGroup]="signInForm" (ngSubmit)="signIn()">

      <!-- EMAIL -->
      <input type="text" placeholder="Email *" formControlName="email" required>

      <div class="error" *ngIf="submitted && signInForm.controls.email.errors">
        <label *ngIf="signInForm.controls.email.errors.required">Ce champs est requis.</label>
        <label *ngIf="signInForm.controls.email.errors.pattern">L'adresse email n'est pas valide.</label>
      </div>

      <!-- PASSWORD -->
      <input type="password" placeholder="Mot de passe *" formControlName="password" required>

      <div class="error" *ngIf="submitted && signInForm.controls.password.errors">
        <label *ngIf="signInForm.controls.password.errors.required">Ce champs est requis.</label>
      </div>

      <!-- SUBMIT -->
      <input type="submit" value="Se connecter">

    </form>

    <!-- Error message -->
    <div *ngIf="serverErrorMessages">
      {{ serverErrorMessages }}
    </div>

  </main>

  <footer>
    <p>Tu n'as pas de compte ? <a routerLink="/signup">S'inscrire</a></p>
  </footer>
</div>

