{
    "development": {
        "PORT": "PORT NUMBER (example: 3000)",
        "MONGODB_URI": "DATABASE ADRESSE MONGODB (example: mongodb://localhost:27017/database_name",
        "JWT_SECRET": "JWT SECRET (example: 1234abcd)",
        "JWT_EXP": "TIME JWT EXPIRATION (example: 10m)"
    },
    "production": {
        "PORT": "PORT NUMBER (example: 3000)",
        "MONGODB_URI": "DATABASE ADRESSE MONGODB (example: mongodb://localhost:27017/database_name",
        "JWT_SECRET": "JWT SECRET (example: 1234abcd)",
        "JWT_EXP": "TIME JWT EXPIRATION (example: 10m)"
    }
}