@import './reset';
@import './variables';
@import './mixins';

@font-face {
  font-family: "MPLUSRounded1c";
  src: url("/assets/font/MPLUSRounded1c-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "MPLUSRounded1c";
  src: url("/assets/font/MPLUSRounded1c-Bold.ttf");
  font-weight: 700;
}

$width-page: 345px;
$padding-page: 30px;

html {
  font-size: 62.5%;
}

body {
  font-family: 'MPLUSRounded1c';
  font-size: 1.5rem;

  position: relative;
  // border-left:1px solid #333;
  // border-right:1px solid #333;
  max-width: $width-page;
  height: 100vh;
  margin: 0 auto;
  padding: 0 $padding-page;
}

h2 {
  font-size: 1.8rem;
}

nav {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #FFF;
  z-index: 1;
  border-top: 2px solid #DCDCDC;
  ul {
    display: flex;
    justify-content: space-between;
    padding: 0 $padding-page;
    li {
      padding: 15px 0;
      &.active {
        position: relative;
        &:before {
          display: block;
          position:absolute;
          content:" ";
          width: 32px;
          height: 2px;
          background-color: $orange;
          top: -2px;
          left:50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

body#accueil {
  header {
    text-align: center;
    padding: 20px;
    position: relative;
    img {
      &:first-of-type {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
      }
      &:last-of-type {
        height: 50px;
      }
    }
  }

  div.aside {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: .1);
    z-index: 2;
    overflow: hidden;
    visibility: hidden;
    transition: visibility .5s;
    aside {
      width: 200px;
      height: calc( 100vh - 40px );
      background-color: #FFF;
      position: absolute;
      top: 0;
      left: -240px;
      transition: left .5s;
      padding: 20px;
      img:first-of-type {
        float:left;
        border: 2px solid $orange;
        padding: 10px;
        border-radius: 100%;
      }
      img:last-of-type {
        float:right;
      }
      .btn-logout {
        font-size: 1.1rem;
        position: absolute;
        bottom: 20px;
        left: 20px;
        background-color: $orange;
        border-radius: 20px;
        padding: 10px 20px;
        font-weight: 700;
        cursor: pointer;
      }
    }
    &.open {
      visibility: visible;
      aside {
        left: 0;
      }
    }
  }

  main {
    p:first-of-type {
      font-size: 1.8rem;
      font-weight: bold;
      span {
        color: $orange;
      }
    }
    p:last-of-type {
      font-size: 1rem;
    }
  }
}

body#login, body#signup {
  max-width: 375px;
  padding: 0;
  div.wrapper-flex {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  header {
    background-image: url("/assets/img/ellipse.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 0;
    text-align: center;
    padding-top: 15px;
    div {
      width: 180px;
      height: 180px;
      background-color: #fff;
      border-radius: 100%;
      margin: 0 auto;
      img {
        width: 150px;
        margin-top: 30px;
      }
    }
  }

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      text-align: center;
      color: $orange;
      font-weight: 700;
    }
    form {
      width: 230px;
      margin: 0 auto;
      text-align: center;
      input {
        margin-top: 60px;
        font-weight: 700;
        &:not([type=radio]) {
          width: 100%;
          text-align: center;
          padding: 12px 0;
        }
        &[type=text], &[type=password] {
          border: none;
          border-bottom: 1px solid $gris-clair;
          color: $gris-clair;
          outline: none;
          &::placeholder {
            color: $gris-clair;
          }
        }
        &[type=submit] {
          border: none;
          border-radius: 20px;
          background-color: $orange;
          color: $gris;
          cursor: pointer;
        }
        &:focus::placeholder {
          color: transparent;
        }
      }
      div.error {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 10px;
        color: $rouge;
        font-size: 1.2rem;
      }
    }
  }

  footer {
    text-align: center;
    padding: 50px;
    p {
      font-weight: 700;
      color: $gris;
      a {
        text-decoration: none;
        color: $orange;
      }
    }
  }
}

body#map {
  max-width: 375px;
  padding: 0;
  div#mapbox {
    width: 100%;
    height: 100vh;
  }
  #popup {
    background-color: #FFF;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    width: 80%;

    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);

    padding: 10px;
    display: none;
  }
}

// @media (min-width:320px)  { body{background-color: red;}/* smartphones, iPhone, portrait 480x320 phones */ }
// @media (min-width:481px)  { body{background-color: blue;}/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
// @media (min-width:641px)  { body{background-color: yellow;}/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
// @media (min-width:961px)  { body{background-color: green;}/* tablet, landscape iPad, lo-res laptops ands desktops */ }
// @media (min-width:1025px) { body{background-color: purple;}/* big landscape tablets, laptops, and desktops */ }
// @media (min-width:1281px) { body{background-color: orange;}/* hi-res laptops and desktops */ }
